.container {
    width: 300px;
    padding: 16px;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
  }
  
  button {
     background-color:#4CAF50; 
     color:white; 
     padding :14px ;
     margin :10 px ;
     border:none;  
     cursor:pointer ;  
      width :100% ;   
  }